TestConsole/Service References/Services/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sl1-l0012.volume.co.uk/WcfService/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sl1-l0012.volume.co.uk/WcfService/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sl1-l0012.volume.co.uk/WcfService/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DotNetSamples.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistricts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCitiesByDistrictId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByDistrictId" />
  </wsdl:message>
  <wsdl:message name="IService_GetCitiesByDistrictId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByDistrictIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllDistricts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllDistricts" message="tns:IService_GetAllDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllDistrictsResponse" message="tns:IService_GetAllDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByDistrictId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCitiesByDistrictId" message="tns:IService_GetCitiesByDistrictId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCitiesByDistrictIdResponse" message="tns:IService_GetCitiesByDistrictId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllDistricts">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllDistricts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByDistrictId">
      <soap:operation soapAction="http://tempuri.org/IService/GetCitiesByDistrictId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://sl1-l0012.volume.co.uk/WcfService/Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>