DotNetSamples.WebForms/Service References/Services/Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sl1-l0012.volume.co.uk/WcfService/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DotNetSamples.Entities" />
  <xs:element name="GetAllDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DotNetSamples.Entities" minOccurs="0" name="GetAllDistrictsResult" nillable="true" type="q1:ArrayOfDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesByDistrictId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesByDistrictIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DotNetSamples.Entities" minOccurs="0" name="GetCitiesByDistrictIdResult" nillable="true" type="q2:ArrayOfCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>